@use '../abstracts/index' as *;

/* footer */
footer{
    background-color: $primary-color;

}
.footer-content {
    @include mediaQuery(780px){
        margin-top: 50px;
        padding: 0 3%;
    }  
}

.footer-category{
    grid-column: 2/9;
    text-align: center;

    margin-top: 20px;

    @include mediaQuery(780px){
        grid-column: span 3;
    }
}
.footer-category h4::after{
    border-bottom: 3px solid $secondary-color;
    content: '';
    display: block;
    width: 20%;
    margin: auto;
    padding-top: 5px;
    
}
footer li{
    font-size: 0.9em;
    margin: 9px 0;
    cursor: pointer;   
}
footer li .fas{
    margin-right: 10px;
    
}
.footer-follow .footer-follow-content{
    display: flex;
    justify-content: space-around;
    padding: 0 30%;

    @include mediaQuery(780px){
        padding: 0 20%;
    }
}
.copyright{
    margin-top: 50px;
    background-color: white;
    text-align: center;
}
.copyright h5{
    margin: 0 auto;
    padding-top: 10px;
}
