@use '../abstracts/index' as *;

/* header */
.site-nav{
    margin: 0 20px;
    padding-bottom: 10px;


    @include mediaQuery(1200px){
        margin: 0 30px;
    }

    .logo{
        margin-top:  2%;
    }
}
.site-nav-list{
    display: none;

    @include mediaQuery(1200px){
        display: flex;
        grid-column: 7/13;
        justify-content: flex-end;
        
        align-self: center;
        z-index: 1;
    }

    &-item-link{
        @include mediaQuery(1200px){
            @include hoverTransition;
        }
        &:hover{
            @include hoverEffect($font-main-color,2px);    
        }
    }
}

.site-nav ul li{
    @include mediaQuery(1200px){
        margin-left: 20px;
    }
}

.header-bg{
    width: 100%;
    height:160px ;
    background: $primary-color;

    @include mediaQuery(1200px){
        height:220px ;
    }

    &-deco{
        width: 100px;
        height: 130px;
        background: $secondary-color;
        position:absolute;
        right: 15%;
    
        @include mediaQuery(780px){
            width: 100px;
            height: 120px;
    
            right: 100px;
        }
    
        @include mediaQuery(1200px){
            width: 120px;
            height: 140px;
            background: $secondary-color;
            position:absolute;
            right: 180px;
        }
    }

}
/* welcome-text */
.welcome-text h2{
    position:absolute;
    right: 8%;
    top: 70px;
    @include mediaQuery(600px){
        right: 10%;
        top: 40px;
    }

    @include mediaQuery(780px){
        right: 70px;
        top: 40px;
    }

    @include mediaQuery(1200px){
        position:absolute;
        right: 300px;
        top: 100px;
        color: $secondary-color;
        text-shadow: 1px 1px 1px white;
    }
}

/* search box */
.search-box{
    width: 150px;
    height: 20px;
    background-color: rgba(256,256,256,0.6);
    border-radius: 5px;

    position:absolute;
    left: 10%;

    @include flexLayout;
    
    @include mediaQuery(780px){
        width: 200px;
        height: 25px;
        
    }
    @include mediaQuery(1200px){
        width: 260px;
        height: 30px;
        
    }
    

    .fa-search{
        width: 9px;
        position:absolute;
        left: 10px;
        top: 2px;
        color: $primary-color;

        @include flexLayout;
    
        @include mediaQuery(780px){
            width: 10px;
            right: 20px;
            top: 4px;
        }
    
        @include mediaQuery(1200px){
            width: 12px;
            right: 25px;
            top: 5px;
        }
    }
    &-txt{
        position:absolute;
        left: 30px;
        
        border: none;
        background: none;
        outline: none;
        
        padding: 0;
        color:$font-main-color;
        font-size:medium;
        //line-height:20px;

        width: 80%;
        font-size: $font-size-placeholder;

    }
}



/* end of header */